
/*@import url('theme.css');*/


/* .rst-badge{
    font-size: 90% !important;
    padding: 12px !important;
    color: gray !important;
    display: none !important;
} */

/* .rst-content .menuselection {
 background:#7fbbe3;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 border-radius:4px;
 padding:2.4px 6px;
 margin:auto 2px
} */
