@import url('theme.css');

p {
    text-align: justify;
}

ul {
    text-align: justify;
}

.wy-nav-side {
    position: fixed;
}

.wy-nav-content {
    max-width: unset;
}


.wy-side-nav-search {
    background-color: #272525;
}

.globalhead {
    background: #000;
    padding: 4px 18px 4px 8px;
    width: auto;
    border-bottom: 1px solid #444;
}

.siteNav {
}

.siteNavTitle {
    padding-left: 4px;
    margin-top: 4px;  
    font-size: 24px;
    color: white;
}


select#languages {
  float: right;
  margin: 8px 1px 0 4px;
  width: 120px;
  background: white url('../images/down-arrow.png') no-repeat 95% 50%;
  line-height: 10px;
  color: black;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
select#languages a {
  outline: 0;
}
select#languages option {
  outline: 0;
  padding: 2px;
}

#versions-links {
    float:right;
    display:inline-block;
    margin: 10px 1em 0 4px;
    color: white;
}

#versions-links-list {

}
#versions-links-list  a {
    /*color: white;*/
}
#versions-links-list > a::before,
#versions-links-list > strong::before
{
    content: " - "
}

#versions-links-list :first-child::before {
    content: ""
}

.outdated {
    padding-top: 0.5rem;
    margin-left: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.9rem;
    z-index: 300;
    width: 100%;
    position: fixed;
    background: #ffbaba;
    color: #6a0e0e;
}

/* .rst-badge{
    font-size: 90% !important;
    padding: 12px !important;
    color: gray !important;
    display: none !important;
} */

/* .rst-content .menuselection {
 background:#7fbbe3;
 font-size: 80%;
 border:1px solid #7fbbe3;
 font-weight:700;
 border-radius:4px;
 padding:2.4px 6px;
 margin:auto 2px
} */
